html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.post {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.3);
  max-width: 800px !important;
  padding: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-bottom: 20px;
}

.img-thumb {
  width: 200px;
  height: 150px;
  margin-right: 20px;
}

.img-thumb img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

button.details {
  padding: 2px 10px;
  background: #8bc34a;
  color: white;
  border-radius: 10px;
  outline: none;
  margin-top: 18px;
  margin-right: 10px;
  border: solid #8bc34a;
}

.details:hover {
  cursor: pointer;
  background: blue;
}
